.post-unit {
  padding: 20px 20px 10px 20px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  color: inherit;
  background-color: #dddddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.shifted-thread {
  margin-left: 30px;
}

.no-markers {
  list-style-type: none;
}

.main-post {
  padding: 10px;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.right-space {
  padding-right: 10px;
}
.left-space {
  padding-left: 20px;
}
.bottom-space {
  padding-bottom: 5px;
}

.toolbar-panel {
  padding: 7px;
  background-color: #dddddd;
  //border-top: solid 1px black;
}