.topheaderimg {
    margin: 0px;
    padding: 0px;
    align-content: center;
    }

#weather ,
#weather p {
    margin: 0px;
    padding: 0px;
    right: 0px;
    text-align: right;
}

#secondnav {
    display: inline-block;
}