.topheaderimg {
    padding: 1px 0px 1px 0px;
    align-content: center;
    }

.row img {
    display: block;
    margin: 0 auto;
}

#weather,
#weather p,
#weather img {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    right: 0px;
    text-align: right;
}
